*, *::before, *::after {
  box-sizing: border-box;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600;
    border: solid gray 1px;
}

.pixel {
    margin: 0px;

}

button {
    margin: 10px;
}

.round {
    border-radius: 12px;
}
